# Database files
*.db
*.db-shm
*.db-wal
*.db.bak*
dictionary*
dabkrs_clean*
test_clean*
test.db*
dict*

# Large data files
/dabkrs*
/dump.txt
/cleaned_results.txt
/dictionary.json
/output.json
/output.txt
/test_output.txt

# Binaries
/bin
/dict
/dict_test
